/* html {font-family: 'Noto Sans KR', sans-serif; } */
html {font-family: 'SUIT Variable', sans-serif;}
/* html {font-family: 'Merriweather', serif;;} */
body {font-weight: 300; font-size: 16px; line-height: 1.53; /* background-color: #e7e7e7; */}
b {font-weight: 700;}
a {color: #000; text-decoration: none;  transition: all 300ms ease-in-out; }
a:hover {color: #00BC70;}
/* h2, h3 {color: #427b58;} */
h1 {font-size: 24px; color: #00BC70; font-weight: 900;}
h2 {font-size: 48px; color: #00BC70;}
h3 {font-size: 22px;}

:root {--swiper-theme-color: #fff;}

.body_inner {overflow-x: hidden; padding: 30px 0; width: 980px; margin: 0 auto;}

/* header */
.header_inner {display: flex; justify-content: space-between; align-items: center; padding: 40px 0 50px 0; }
.header_menu {display: flex; font-weight: 700; font-size: 18px; margin-left: 8px; flex-wrap: wrap; justify-content: flex-end;}
.header_menu_item + li {margin-left: 42px;}
.header_icon {position: relative; }

/* main */
/* slide */
.swiper {width: 100%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.swiper-wrapper,
.swiper-slide {width: 100%; height: auto;}

.main_img {overflow-y: hidden; width:100%; height: auto; margin-bottom: -7px;}

.main_img img {width: 100%; height: auto; filter: grayscale(1); transition: all 300ms ease-in-out; }
.main_img img:hover {filter: grayscale(0);}

.w50 {width: 50%;}
.l_side {margin-right: auto;}
.r_side {margin-left: auto;}

.main_conts h2 {margin-bottom: 48px; position: relative;}
/* .main_conts h2::after {display: block; content: ''; border-top: 1px solid #000; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;} */
.main_conts + .main_conts {margin-top: 160px;}

.main_txt1 {margin-bottom: 16px;}
.main_txt2 {font-size: 18px;}
.main_list_item + .main_list_item {margin-top: 24px;}


/* footer */
.footer_inner {border-top: 1px solid #000; padding-top: 50px; margin-top: 120px;}
.footer_conts {display: flex;}
.footer_txt_wrap {}
.footer_txt1 {font-size: 18px; font-weight: 700; margin-bottom: 20px;}

/* progress bar */
.progress_bar {height: 15px; /* background-color: #275c3b; */ background-color: #00BC70;  position: fixed; top: 0; width: 0%; z-index: 1;}


/* animation */




@media only screen and (max-width: 1100px) {
 .body_inner {width: auto; padding: 0 12px 44px 12px}    
 .header_inner {padding-top: 20px;}
 .header_icon h1 {font-size: 18px;}
 .header_menu_item + li {margin-left: 10px;}
 .header_menu {font-size: 16px;}

 .main_conts + .main_conts {margin-top: 100px;}

 .main_txt2 {font-size: 16px;}
 h3 {font-size: 20px;}

 .w50 {width: 100%;}
 .footer_conts {display: block;}

 h2 {font-size: 28px;}
 .main_conts h2 {margin-bottom: 28px;}

 .footer_txt1 {font-size: 16px;}
 .footer_txt_wrap + .footer_txt_wrap {margin-top: 24px;}
 .footer_inner {padding-top: 30px;}

 .progress_bar {height: 8px;}
}
